.active-link {
  border: green 1px solid;
}

nav {
  border: solid 1px green;
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}

nav ul button {
  padding: 0;
}

nav ul .go-back {
  font-weight: bold;
  
}
