/* General Styling here */
/* Background color: #e04484 */

* {
  box-sizing: border-box;
  color: whitesmoke;
  margin: 0;
}

body{
  background-color: #f04c8c; /*remove after finishing styling*/
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}
