/* General Styling here */
/* Background color: #e04484 */

* {
  box-sizing: border-box;
  background-color: #e04484;
  color: whitesmoke;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  border:0;
}
